/*--------signin-------*/
.signin, .signup {
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: #f5f5f5;
}
.signin__box, .signup__box{
    height: 500px;
    width: 35%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%)translateY(-50%);
    background-color: #fff;
    padding: 30px 5%;
    border-radius: 4px;
    padding:3% 5%;
}
.signin__logo{
    text-align: center;
}

.sign__name, .sign__pass, .sign__email{
    margin:30px 0;
    display: block;
    outline: none;
    border:none;
    border-radius: 3px;
    border:1px solid #ccc;
    padding: 13px;
    width: 100%;
}
.sign__check{
    display: inline-block;
    margin-right: 6px;
}
.sign__info{
       margin-top: 40px;
    a{
        display: inline-block;
        font-size: 11px;
        color: #555;
        letter-spacing: 0.3px;
    }

}
.signin__forget{
    float: right;
    border-bottom: 1px solid #aaa;
    margin: 2px 0;
}
.sign__buttons{
    margin-top: 7%;
}
.button_register{
    width: 40%;
    padding: 9px 10px;
    border:1px solid $combo-color;
    display: inline-block;
    color:$combo-color !important;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
     float: right;
     transition: 0.2s;
}
.button_signin{
    width: 40%;
    padding: 10px 10px;
    background-color: $combo-color;
    display: inline-block;
    color: #fff !important;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.2s;
}
.button_register:hover, .button_signin:hover{
    box-shadow: 8px 8px 6px #ddd;
    transform: translate(0, -3px);
}
.sign__account{
    float: right;
    font-size: 11px;
    color:#777;
    margin: 3px 5px 0 0;
}
.signin__or{
    text-align: center;
    color: #666;
    padding:35px 0 25px;
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    word-spacing: 0.4px;
}
.signin__or:before{
    border:1px solid #000;
    height: 10px;
    width: 100px;
}
.sign__socials {
    text-align: center;
    a{
        padding: 0 10px;
    }
    img{
        height: 45px;
        transition: 0.4s;
    }
}
.sign__socials a img:hover{
    transform: translate(0, -4px);
}


/*-----signup-------*/
.signup__box{
    height: 600px !important;
}









