/*-----base variables -------*/
html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a {
  text-decoration: none; }

.container {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }

/*--------signin-------*/
.signin, .signup {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f5f5f5; }

.signin__box, .signup__box {
  height: 500px;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 30px 5%;
  border-radius: 4px;
  padding: 3% 5%; }

.signin__logo {
  text-align: center; }

.sign__name, .sign__pass, .sign__email {
  margin: 30px 0;
  display: block;
  outline: none;
  border: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 13px;
  width: 100%; }

.sign__check {
  display: inline-block;
  margin-right: 6px; }

.sign__info {
  margin-top: 40px; }
  .sign__info a {
    display: inline-block;
    font-size: 11px;
    color: #555;
    letter-spacing: 0.3px; }

.signin__forget {
  float: right;
  border-bottom: 1px solid #aaa;
  margin: 2px 0; }

.sign__buttons {
  margin-top: 7%; }

.button_register {
  width: 40%;
  padding: 9px 10px;
  /*border:1px solid $combo-color;*/
  display: inline-block;
  /*  color:$combo-color !important;*/
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  float: right;
  transition: 0.2s; }

.button_signin {
  width: 40%;
  padding: 10px 10px;
  /*background-color: $combo-color;*/
  display: inline-block;
  color: #fff !important;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.2s; }

.button_register:hover, .button_signin:hover {
  box-shadow: 8px 8px 6px #ddd;
  transform: translate(0, -3px); }

.sign__account {
  float: right;
  font-size: 11px;
  color: #777;
  margin: 3px 5px 0 0; }

.signin__or {
  text-align: center;
  color: #666;
  padding: 35px 0 25px;
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  word-spacing: 0.4px; }

.signin__or:before {
  border: 1px solid #000;
  height: 10px;
  width: 100px; }

.sign__socials {
  text-align: center; }
  .sign__socials a {
    padding: 0 10px; }
  .sign__socials img {
    height: 45px;
    transition: 0.4s; }

.sign__socials a img:hover {
  transform: translate(0, -4px); }

/*-----signup-------*/
.signup__box {
  height: 600px !important; }

/*---sidebar form---*/
.sidebar {
  width: 25%;
  height: 800px;
  background-color: #F8F9FB;
  padding: 20px; }

.logo {
  font-size: 25px;
  color: #333; }

.form-layout {
  margin: 60px 0; }

.add-machine {
  color: #333; }

.form-para {
  margin: 20px 0; }

.label-para {
  display: block;
  font-size: 14px;
  color: #555; }

.form-input {
  font-size: 16px;
  padding: 4px 10px;
  width: 80%;
  margin-top: 10px;
  outline: none;
  color: #333;
  border-radius: 3px;
  border: 1px solid #eee; }

.previewText {
  font-size: 13px;
  color: #666; }

.img-preview {
  border: 1px dotted #ccc;
  width: 80%;
  height: 200px;
  text-align: center;
  border-radius: 3px;
  padding: 20px 0;
  overflow: hidden; }

.fileInput {
  margin-top: 15px; }

.img-preview img {
  height: 150px; }

.button {
  padding: 5px 10px;
  background-color: #00E29E;
  color: #fff;
  width: 80px;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 2px; }

.viewlayout {
  width: 75%;
  height: 100%;
  background-color: #FFFFFF; }

.search {
  width: 400px;
  line-height: 33px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
  margin: 25px 120px;
  outline: none; }
