/*-----base variables -------*/
$font-family: 'Open Sans', sans-serif;
$grey-font:#555;
$button-text: #333;
$button-hover:#000;

$link-color:#222;

$primary-color: #fff;
$combo-color:#E5007E;

$landing-page:#f5f5f5;
$footer-color:#eee;

$button-size:14px;
